 <div class="main-div">
 

    <mat-card class="mat-elevation-z2">	
	   <a href="https://www.facebook.com/danielmoscarella/" target="blank"><img  src="assets/facebook.png" alt="Facebook"></a>	
    </mat-card>
	
	<mat-card class="mat-elevation-z4">
	   <a href="https://www.instagram.com/danielmoscarella/" target="blank"><img src="assets/instagram.png" alt="Instagram"></a>
    </mat-card>
	
	<mat-card class="mat-elevation-z4">
	   <a href="https://co.linkedin.com/in/daniel-moscarella-40780834" target="blank"><img src="assets/linkedin.png" alt="LinkedIn"></a>
    </mat-card>
	
	<mat-card class="mat-elevation-z4">
	   <a href="https://www.youtube.com/channel/UCkvBvlo_vTtchazaiisvSKA" target="blank"><img src="assets/youtube.png" alt="YouTube"></a>
    </mat-card>
	
	<mat-card class="mat-elevation-z4">
	   <a href="https://www.facebook.com/astrophotos.dm" target="blank"><img src="assets/astrophotos.png" alt="AstroPhotos"></a>
    </mat-card>

</div>