<div class="main-div">
<mat-card class="about-card">
  <mat-card-header>
    
  </mat-card-header>
  
  <mat-card-content>
   <img mat-card-image src="assets/profile_pic.jpg" alt="Daniel Moscarella">
  </mat-card-content>
</mat-card>

<mat-card class="about-card">
  <mat-card-header>
   
    <mat-card-title>Perfil Profesional </mat-card-title>
    <mat-card-subtitle>Daniel Moscarella</mat-card-subtitle>
  </mat-card-header>
  
  <mat-card-content>
    <p>
     Desarrollador senior con 10 años de experiencia en plataformas transaccionales de misión crítica y alta disponibilidad. 
	 Excelente líder con experiencia en la coordinación de proyectos. Responsable con las obligaciones y tareas encomendadas. 
	 </p>
	<p> Versado en darsoluciones rápidamente utilizando los recursos disponibles. Toma decisiones firmes y optimas para el negocio. 
    </p>
  </mat-card-content>
</mat-card>
</div>



