/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.main-div{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-toolbar {
    justify-content: space-between;
}
.content {
    padding: 16px;
}
.content > mat-card {
    margin-bottom: 16px;
}	